* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  padding: 1em;
  text-align: center;
}

.currency {
  margin: 0.2em;
  padding: 0.2em;
  text-align: center;
}

.denomination {
  text-align: center;
}

.reverse {
  text-align: center;
  margin: 0.2em;
}

.denom-label {
  display: inline-block;
  text-align: right;
  width: 4.5em;
}

.denom-input {
  margin: 0 0.5em 0 0.5em;
  text-align: right;
  width: 10em;
}

.denom-count {
  display: inline-block;
  width: 3em;
}

.total {
  text-align: center;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

.reset {
  margin: 0.4em;
  padding: 0.3em 1.4em;
}
